.cases {
    &-top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 122rem;

        @include maxWidth($sm) {
            margin-bottom: 40rem;
        }
    }

    &-tabs {
        display: flex;
        justify-content: space-between;
        margin-bottom: 32rem;

        @include maxWidth($sm) {
            flex-direction: column;
            gap: 20rem;
        }

        &-wrapper {
            display: flex;
            gap: 48rem;
            @include maxWidth($sm) {
                gap: 16rem;
            }
        }

        .scroll-x {
            @include maxWidth($sm) {
                overflow-x: auto;
                overflow-y: hidden;
                white-space: nowrap;
                scroll-behavior: smooth;
                padding-bottom: 8rem;
            }
        }

        &-item {
            cursor: pointer;
            position: relative;
            display: flex;
            padding: 1px;
            border-radius: 30px;
            background: linear-gradient(180deg, var(--color-gradient-1), var(--color-gradient-2));

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                background: rgba(0, 0, 0, 1);
                opacity: 1;
                transition: opacity 0.3s ease;
            }

            &.active {
                &::before {
                    opacity: 0;
                }
                &.fade-out::before {
                    opacity: 1;
                }
            }
            &:hover::before {
                opacity: 0;
            }

            .inner-text {
                position: relative;
                border-radius: 30px;
                padding: 8rem 16rem;
                align-content: center;
                background: var(--color-black);

                @include maxWidth($sm) {
                    font-size: 13rem;
                    color: var(--color-gray-100);
                    white-space: nowrap;
                }
            }
        }
    }

    hr {
        width: 100%;
        height: 1rem;
        background: var(--color-white);
        opacity: 0.3;
    }

    &-content {
        position: relative;
    }

    &-element {
        padding: 18rem 160rem 18rem 0;
        @include maxWidth($sm) {
            padding: 0;
        }

        &-wrapper {
            min-height: 200rem;
            position: relative;
            cursor: pointer;

            @include maxWidth($sm) {
                gap: 16rem;
                min-height: 180rem;
                margin: 0;

                .h3 {
                    padding: 0;
                }
            }
        }

        &-categories {
            display: flex;
            gap: 40rem;
            align-items: center;
            color: var(--color-gray-100);

            @include minWidth($sm) {
                padding-left: 100rem;
                padding-right: 0;
            }
            @include maxWidth($sm) {
                margin-bottom: 16rem;
            }
        }

        &-img {
            width: 286rem;
            @include maxWidth($sm) {
                display: none;
            }
        }

        .follower {
            position: absolute;
            pointer-events: none;
            will-change: transform, opacity;
        }

        &-desc {
            width: 280rem;
            color: var(--color-gray-100);

            @include maxWidth($sm) {
                width: 100%;
            }
        }
    }

    &-decor-img {
        position: absolute;
        bottom: -400rem;
        right: 0;
        width: 432rem;
        z-index: -1;
    }
}
