.work-areas {
    .sticky-wrapper {
        display: flex;
        position: relative;
    }
    .label-sticky {
        position: sticky;
        top: 100rem;
        height: fit-content;
    }

    &-wrapper {
        max-width: 1448rem !important;
        padding-top: 180rem;

        @include maxWidth($sm) {
            padding-top: 80rem;
        }
    }
    &-block {
        display: flex;
        flex-direction: column;
        position: relative;

        &:not(:last-child) {
            height: 730rem;
        }

        &-sticky {
            position: sticky;
            top: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &-top,
        &-bottom {
            display: flex;
            justify-content: space-between;
            position: relative;
            overflow: hidden;

            @include maxWidth($sm) {
                flex-direction: column;
            }

            &.indent-1 {
                @include minWidth($sm) {
                    margin-right: 446rem;
                }
            }
            &.indent-2 {
                @include minWidth($sm) {
                    margin-right: 485rem;
                }
            }
        }

        &-top {
            margin-bottom: 120rem;
            @include maxWidth($sm) {
                margin-bottom: 40rem;
            }
        }

        &-bottom {
            align-items: flex-end;
        }

        &-title {
            max-width: 610rem;
            @include maxWidth($sm) {
                margin-bottom: 40rem;
            }
        }

        &-img {
            width: 324rem;
        }

        &-btn {
            @include maxWidth($sm) {
                order: 1;
            }
        }

        &-desc {
            max-width: 358rem;
            line-height: 120%;
            letter-spacing: -0.5rem;
            text-align: justify;
            color: var(--color-gray-100);

            @include maxWidth($sm) {
                margin-bottom: 40rem;
            }
        }
    }
}
