.field {
    position: relative;
    display: block;

    &-label {
        position: absolute;
        left: 0;
        top: 24rem;
        font: var(--font-body-m);
        text-transform: uppercase;
        color: var(--color-black);
        pointer-events: none;
        transform-origin: left top;
        transition: transform 0.25s var(--transition-easing), top 0.25s var(--transition-easing),
            font-size 0.25s var(--transition-easing), color 0.25s var(--transition-easing);
    }

    &:has(.field-item:hover) .field-label {
        color: var(--color-hover);
    }

    &-item {
        width: 100%;
        height: 65rem;
        color: var(--color-black);
        border: 0;
        border-bottom: 1rem solid var(--color-black);
        font: var(--font-body-m);
        text-transform: uppercase;
        transition: border-color var(--transition-duration) var(--transition-easing);

        &:hover,
        &:focus {
            border-color: var(--color-hover);
        }

        &::placeholder {
            color: transparent;
        }
        &::-ms-input-placeholder {
            color: transparent;
        }

        @include maxWidth($sm) {
            font: var(--font-body-m-mobile);
        }
    }

    textarea.field-item {
        margin-top: 24rem;
        min-height: 65rem;
        height: 150rem;
        resize: vertical;
        &::-webkit-resizer {
            display: none;
        }
    }

    &:focus-within .field-label,
    &:has(.field-item:not(:placeholder-shown)) .field-label {
        top: 0;
        font: var(--font-body-xs);
        color: var(--color-gray-100);

        @include maxWidth($sm) {
            font: var(--font-body-xs-mobile);
        }
    }

    &-message {
        position: absolute;
        bottom: -24rem;
        left: 0;
        display: none;
        pointer-events: none;

        &.__error {
            color: var(--color-error);
        }
    }

    &.__error {
        .field-item {
            color: var(--color-error); /* ← змінює колір тексту */
            border-color: var(--color-error);
        }
        .field-message.__error {
            display: inline-block;
        }
    }

    &-resize {
        position: absolute;
        width: 17rem;
        height: 16rem;
        bottom: 10rem;
        right: 2rem;
        background: url(../img/icons/resize.svg) no-repeat center / contain;
        pointer-events: none;
    }
}
